@import "../../vars.css";

.navbar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 28px;
    z-index: 2;
    margin-left: 15%;
    margin-right: 15%;

}

.title {
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
    color: var(--color-text);
}

.menu {
    display: flex;
}

.menuItems {
    display: flex;
    gap: 47px;
    list-style: none;
}

.menuItems a {
    font-size: 1.2em;
    color: var(--color-text);
    text-decoration: none;
    transition: color 0.3s ease 0s;
}

.menuItems a:hover {
    color: red;
}

@media (max-width: 1600px) {
    .navbar {
        margin-left: 10%;
        margin-right: 10%;
    }
}

@media (max-width: 600px) {
    .navbar {
        margin-left: 4%;
        margin-right: 4%;
    }

    .title {
        font-size: 24px;
    }
}